@charset "UTF8";


@media screen and (min-width:640px) and (max-width:720px) {

    
header>h1{ 
    color: white;
    position: relative;
    left: 17px;
    top: 24px;
    font-size: 1.4em;
}
header>h1>a{
    color: white;
    text-decoration: none;
}
    
#base{
    position: absolute;
    top: 15px;
    left: 70%;
    display: flex;
    color: rgb(255, 255, 255);
   
}
#base>h2{
    padding: 11px;
}
#base>h2>a{
    color: white;
}
main{
    
    color: white;
    height: 400px;
    position: relative;
    top: 108px;
    left: 16px;
    background-position: center;

}
main>iframe{
   width: 200%;
   position: relative;
   left: 22%;
}
#story>iframe{
    width: 99.4vw;
    position: absolute;
    top: 13%;
}

footer{
  width: 100vw;
  display: flex;
  position: absolute;
  top: 88%;
  left: 15%;
  color: white;
  margin: auto;
    
}
footer>h2{
   font-size: 1em;
   padding: 19px;
   padding-left: 42px;
   position: relative;
   left: 3%;
   }
   footer>h2>a{
    color: white;
   }

   footer>h2>a:hover{
    background-color: rgb(92, 99, 99);
   }
    
}

@media screen and (min-width:720px) and (max-width:820px) {

    
    header>h1{ 
        color: white;
        position: relative;
        left: 17px;
        top: 24px;
        font-size: 1.4em;
    }
    header>h1>a{
        color: white;
        text-decoration: none;
    }
        
    #base{
        position: absolute;
        top: 15px;
        left: 70%;
        display: flex;
        color: rgb(255, 255, 255);
       
    }
    #base>h2{
        padding: 11px;
    }
    #base>h2>a{
        color: white;
    }
    main{
        
        color: white;
        height: 400px;
        position: relative;
        top: 108px;
        left: 16px;
        background-position: center;
    
    }
    main>iframe{
       width: 200%;
       position: relative;
       left: 26%;
    }
    #story>iframe{
        width: 99.4vw;
        position: absolute;
        top: 13%;
    }
    
    footer{
      width: 100vw;
      display: flex;
      position: absolute;
      top: 88%;
      left: 25%;
      color: white;
      margin: auto;
        
    }
    footer>h2{
       font-size: 1em;
       padding: 19px;
       padding-left: 42px;
       position: relative;
       left: 3%;
       }
       footer>h2>a{
        color: white;
       }
    
       footer>h2>a:hover{
        background-color: rgb(92, 99, 99);
       }
        
    }
    
@media screen and (min-width:700px) and (max-width:720px) {

    
    header>h1{ 
        color: white;
        position: relative;
        left: 17px;
        top: 24px;
        font-size: 1.4em;
    }
    header>h1>a{
        color: white;
        text-decoration: none;
    }
        
    #base{
        position: absolute;
        top: 15px;
        left: 70%;
        display: flex;
        color: rgb(255, 255, 255);
       
    }
    #base>h2{
        padding: 11px;
    }
    #base>h2>a{
        color: white;
    }
    main{
        
        color: white;
        height: 400px;
        position: relative;
        top: 108px;
        left: 16px;
        background-position: center;
    
    }
    main>iframe{
       width: 200%;
       position: relative;
       left: 22%;
    }
    #story>iframe{
        width: 99.4vw;
        position: absolute;
        top: 13%;
    }
    
    footer{
      width: 100vw;
      display: flex;
      position: absolute;
      top: 88%;
      left: 15%;
      color: white;
      margin: auto;
        
    }
    footer>h2{
       font-size: 1em;
       padding: 19px;
       padding-left: 42px;
       position: relative;
       left: 3%;
       }
       footer>h2>a{
        color: white;
       }
    
       footer>h2>a:hover{
        background-color: rgb(92, 99, 99);
       }
        
    }