@charset "UTF8";

*{
    
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}
body,html{
    width: 79.9vh;
    
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
header>h1{ 
    color: white;
    position: relative;
    left: 17px;
    top: 0px;
    font-size: 1.4em;
}
header>h1>a{
    color: white;
    text-decoration: none;
}
    
#base{
    position: absolute;
    top: 15px;
    left: 70%;
    display: flex;
    color: rgb(255, 255, 255);
   
}
#base>h2{
    padding: 11px;
}
#base>h2>a{
    color: white;
}
main{
   
    
    color: white;
    position: relative;
    top: 8px;
    left: 16px;
    
}
.menu{ 
    
    position: absolute;
    left: -17px;
    top: 15%;
    width: 65%;
    height: 75%;
    text-decoration: none;
    color: white;
    
}
.menu h1{
    position: absolute;
    top:-20%;
    padding: 20px;
   
    
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu h3{
    font-size: 1rem;
    padding: 5px 0px  15px 55px ;
    position: relative;
    top: 5px;
     text-decoration: none;
    color: white;
}
.menu h3:hover{
    background-color: rgba(53, 52, 52, 0.234);
    border-radius: 5%;
}
.linha{
    position: relative;
    top: -5px;
    left: 5px;
}

.iframe-video{
    position: relative;
    left: 70%;
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.249);
}

#story>iframe{
    width: 81%;
    position: absolute;
    top: 4%;
    left: 17%;
  
}
.direito{
    width: 260px;
    height: 556px;
    position: absolute;
    left: 214.5%;
    top: -4px;
    padding-top: 5%;

}
.direito h3{
    font-size: 1rem;
}
.direito .nome{
    position: absolute;
    top: 6%;
    left: 16%;
}
.perfil{
    padding: 75px 0px 0px 30px;
}

.perfil h3{
    padding-bottom: 40px;
}
.circlo{
    background-color:rgba(255, 255, 255, 0.311) ;
    border: 1px solid rgba(255, 255, 255, 0.249); 
    width: 35px;
    height:35px;
    border-radius: 50%;
}
footer{
    display: none;
}
footer>div{
  width: 100vw;
  display: flex;
  position: absolute;
  top: 88%;
  color: white;
  
    
}
footer>div>h2{
   font-size: 1em;
   padding: 19px;
   padding-left: 42px;
   position: relative;
   left: 3%;
   }
   footer>div>h2>a{
    color: white;
   }

   footer>div>h2>a:hover{
    background-color: rgb(92, 99, 99);
   }
   .icon{
    padding-left: 13%;
   }