@charset "UTF8";

*{
    
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}
body,html{
    width: 79.9vh;
    
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
header>h1{ 
    color: white;
    position: relative;
    left: 17px;
    top: 24px;
    font-size: 1.4em;
}
header>h1>a{
    color: white;
    text-decoration: none;
}
    
#base{
    position: absolute;
    top: 15px;
    left: 70%;
    display: flex;
    color: rgb(255, 255, 255);
   
}
#base>h2{
    padding: 11px;
}
#base>h2>a{
    color: white;
}
main{
   
    
    color: white;
    height: 400px;
    position: relative;
    top: 108px;
    left: 16px;
}
.menu{ 
    position: absolute;
    left: -17px;
   
    width: 65%;
    height: 100%;
}
.menu h3{
    font-size: 1rem;
    text-align: center;
    padding: 20px 0px  35px 0px ;
}
.menu h3:hover{
    background-color: rgba(53, 52, 52, 0.234);
    border-radius: 5%;
}
.iframe-video{
    position: absolute;
    left: 70%;
}

#story>iframe{
    width: 99.4vw;
    position: absolute;
    top: 13%;
}


footer>div{
  width: 100vw;
  display: flex;
  position: absolute;
  top: 88%;
  color: white;
  
    
}
footer>div>h2{
   font-size: 1em;
   padding: 19px;
   padding-left: 42px;
   position: relative;
   left: 3%;
   }
   footer>div>h2>a{
    color: white;
   }

   footer>div>h2>a:hover{
    background-color: rgb(92, 99, 99);
   }
   .icon{
    padding-left: 13%;
   }